.big-container {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container {
  /* border: solid red; */
  display: grid;
  grid-template-rows: auto auto auto;
  width: auto;
  gap: 1rem;
  height: 100vh;
  margin: 0 auto;
  /* border: solid green; */
  overflow: auto;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  /* border: solid red; */
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  padding-top: 0.75rem; /* 24px */
  padding-bottom: 0.75rem; /* 24px */
  color: black;
}

.container-body {
  gap: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* border: solid rgb(219, 76, 205); */
  padding: 1rem; /* 16px */
  color: black;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    height: -webkit-fill-available;
  }
  .container-body {
    display: grid;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 800px) {
  .container-header {
    padding-top: 4rem;
  }
  .container-body {
    padding-top: 9rem;
  }
}

.container-footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: solid rgb(255, 255, 0); */
}

.footer-icon {
  font-size: 27px;
  color: white;
  cursor: pointer;
}

.footer-icon:hover {
  color: pink;
}
